extends ../application

block content
  .container
    .row
      .col-xs-6.offset-xs-3
        h1.text-xs-center Add a New User
        hr
        form(action="/add-user" method="POST")
          .form-group
            label First Name:
            input(type="text" name="firstname" placeholder="first name" class="form-control")

            label Last Name:
            input(type="text" name="lastname" placeholder="last name" class="form-control")

            label Email:
            input(type="email" name="email" placeholder="e-mail" class="form-control")

            button(type="submit" class="btn btn-success btn-lg btn-block") Add User